html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "sd sd sd hd hd hd hd hd hd"
    "sd sd sd ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft ft";
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  padding: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: hd;
}

.footer {
  grid-area: ft;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  grid-area: ct;
}

.sidebar {
  grid-area: sd;
}

img {
  width: 100%;
}

.snipet__description {
  background-color: rgba(131, 131, 131, 0.74);
  border-radius: 5px;
}

.sntx-common {
  color: purple;
}

.sntx-private {
  color: orangered;
}

.sntx-child {
  color: rgb(121, 121, 190);
}

.sntx-objective {
  color: rgba(255, 0, 0, 0.411);
}

.sntx-literal {
  color: white;
}

.snipet__title a:hover {
  color: red;
}

.covid-dashboard {
  display: flex;
  padding: 5px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
}

.covid-dashboard a {
  width: 50%;
}

.covid-dashboard a img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.covid-dashboard div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  background: 50% no-repeat url(https://kirylzuyeu-covid-dashboard.netlify.app/assets/image/rs_school_js.svg);
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 3px;
}

.footer__copyright {
  font-size: 14px;
  white-space: nowrap;
}
