*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
    list-style: none;
}

:root {
  --main-color: #f0ae12;
  --text-color: #363636;
  --white: #ffffff;
  --gray: #f3f4f5;
  --light-gray: #e1e1e1;
  --orange: #d6932e;
}

.wrapper{
	max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: red;
}

.main {
  background: green;
  /* width: 1200px; */
}

.main_wrapper {
  display: flex;
}

.main__content {
  background: green;
  width: 60%;
}

.main__aside {
  background: blue;
  width: 40%;
}

.footer {
  background: purple;
}